*{
  margin: 0;
  padding: 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 16px 150px;
  background-color: #1f2937;
}
.logo {
  font-size: 45px;
  color: aliceblue;
}
a {
  text-decoration: none;
  text-decoration: none;
  color: aliceblue;
  font-size: 20px;
}
.nav {
  display: flex;
  gap: 16px;
  align-items: center;
}
.nav > a{
  text-transform: capitalize;
} 
.but1 {
  background-color: #3882f6;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  border: 0;
}